*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
header{
    height : 100vh;
    width: 100%;
    background: url("https://i.pinimg.com/736x/ea/f7/0d/eaf70d5b1c32b039551dbfa29072046f.jpg") no-repeat;
    background-position: left;
}
main{
    height : 100vh;
    width: 100%;
    background: url("https://i.pinimg.com/736x/ea/f7/0d/eaf70d5b1c32b039551dbfa29072046f.jpg") no-repeat;
    background-position: left;
}


header nav{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    z-index: 2000;
}
nav .navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto 20px auto;
}
nav .navbar .logo{
    height:100px;
    width:500px;
}
.navbar .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.navbar .menu{
    display: flex;
}
.navbar .menu li{
    list-style: none;
    margin: 0 50px;
}
nav .navbar .menu a{
    font-size: 25px;
    color: #2c3e50;
    font-weight: 500;
    text-decoration: underline;
}
.menu li a:hover{
    color:red;
}
.content{
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 10;
}
.content .text{
    font-size:27px;
    color: #2c3e50;
}
.content .name{
    font-size: 75px;
    color:#2c3e50;
    margin: -20px 0 0 -3px;
    animation-name: name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes name{
    0% {color: #2c3e50;}
    25%  {color: aquamarine;}
    50% { color: lightsalmon;}
    100%{color: lightseagreen;}
    }
.content .job{
    font-size: 40px;
    color: #2c3e50;
}
.content .job .typing-text{
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    /*margin-left: 5px;*/
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    /*background: lightpink;*/
    animation: typing 5s linear infinite normal;
}

@keyframes typing{
    0%{
    width: 0ch;
    }
    50%{
        width: 10ch;
    }
    100%{
        width: 18ch;
    }

}
/*.content .buttons{
    position: absolute;
    top: 33%;
    left: 10%;
    margin: 20px 0 0 80px;
   /* position: sticky;
    bottom: 0px;
    left: 40px
}*/
.content .buttons button{
    color: #fff;
    margin: 80px 10px;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: linear-gradient(135deg, #2afadf 10%, #c346c2);
    transition:all 0.3s ease;
}
.content .buttons button:hover{
    transform: scale(0.98);
}
main .girl{
    position: absolute;
    top :20%;
    left: 10%;
}
footer{
    height : 100vh;
    width: 100%;
    background: url("https://i.pinimg.com/736x/ea/f7/0d/eaf70d5b1c32b039551dbfa29072046f.jpg") no-repeat;
    background-position: left;
}

main .portfolio{
    font-size: large;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .aboutme{
    margin-left: 35%;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5%;
    border-spacing: 5%;
}
.portfolio .education{
    margin-left: 35%;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.education table,th,td{
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.portfolio .myskills{
    margin-left: -11%;
    border: 1px solid black;
    padding: 10px;
}
.myskills .slidecontainer{
    width: 100%;
    padding: 10px;
}
.slidecontainer .slider{
    width:100%;
    padding: 20px;
}
.portfolio .personaldetails{
    margin-left: -11%;
    margin-top: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
.portfolio .experience{
    margin-left: 35%;
    margin-top: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
footer .media-icons{
    position: absolute;
   /* left: 250px;
    bottom: 100px;*/
    top: 80%;
    left: 52%;
    display:flex;
    align-items: flex-end;
}
.media-icons a{
    margin-left: 8px;
    font-size: 20px;
    color: #2c3e50;
    font-weight: 500;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.media-icons a:hover{
    opacity: 1;
}
/*.left, .right{
    height: 100vh;
    width: 100%;
}
.left{
    background: lightsalmon;
}
.right{
    background: lightblue;
}*/

 